* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.big_class {
	background-color: #e6e6e6;
	position: relative;
}

.navbar {
	position: fixed;
	left: 0;
	top: 0;
	width: 150px;
	height: 100%;
	text-align: center;
	background-color: #1b4162;
}
.navbar li {
	width: 90%;
	height: 20px;
	margin: 5px auto;
}

.navbar li button{
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 5px;
}
.profileContent{
	background-color: white;
	width: 60%;
	/*height: 50%;*/
	margin-left: 150px;
	float: left;
	padding: 0px 20px;
	/*text-align: center;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-60%,-60%);
}
.profileContent div {
	padding-top: 20px;
}
.profileContent ul {
	margin-left: 20px;
}