* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.outerContainer {
	/*margin-top:  60px;
*/	margin-left: 150px;
	padding: 40px;
	z-index: -1;
	background-image: url('http://i347.photobucket.com/albums/p448/robertcas257/5cccb87d-4524-4934-9423-239e78d849f9_zps131vj6ye.png');
	height: 1000px;
}
.innerContainer {
	max-width: 900px;
	margin: 0px auto;
}

.topLogo { 
	text-align: center;
	margin-top: -22px;
}

.topLogo img { 
	display: block;
	margin: 0px auto;
	height: 100px;
	width: 405px;
}

.Slogo { 
	height: 40px;
}

.leftPic { 
	display: block;
	margin: 0px auto;
	margin-top: 5px;
	height: 100px;
	width: 100px;
	border-radius: 50%;

}

.lionLogo { 
	display: block;
	float: left;
	margin-top: 5px;
	height: 50px;
	width: 50px;
	border-radius: 25px;
}

.headerRight{ 
	position: fixed;
	right: 0;
	top: 0;
	width: 230px;
}
.headerText {
	float: right;
	position: relative;
	top: -15px;
	width: 180px;
	text-align: center;
}
.headerText h1 {
	font-size: 20px;
	color: #1b4162;
}
.signout {
	font-size: 10px;
	text-decoration: none;
	color: #1b4162;
	padding: 3px;
	border: 1px solid ;
	border-radius: 3px;
}
.profileName {
	font-size: 20px;
	min-width: 200px;
}
.sq img { 
	display: block;
	padding: 10px;
	margin: 0px auto;
	width: 100%;	
	border-radius: 20px;
}
.profileContent {
	background-color: #e6e6e6;
	min-height: 400px;
	border-radius: 5px;
	padding: 15px;
}
.navbarTop {
	position: fixed;
	left: 0;
	top: 0;
	height: 60px;
	width: 100%;
	background-color: #e6e6e6;
	z-index: 1;
}
.navbarLeft {
	position: fixed;
	left: 0;
	/*top: 60px;
	padding-top: 20px;
*/	width: 200px;
	height: 100%;
	text-align: center;
	background-color: #134367;
}
.navbarLeft ul {
	list-style-type: none;
	padding-top: 20px;

}
.navbarLeft li {
	width: 80%;
	height: 30px;
	margin: 10px auto;
}

.navbarLeft li button{
	width: 100%;
	height: 100%;
	background-color: #134367;
	border-radius: 5px;
	border: none;
	color: #e6e6e6;
}

.navbarLeft li button:hover{
	border: 2px solid #1b4162;
	transform: translate(0px, -.5px);
}
.profileContent ul, .profileContent ol {
	margin-left: 20px;
}

.aboutMe {
	text-align: center;
}

.profDiv {
	margin: 0px auto;
	padding-top: 20px;
}

.profDiv p { 
	padding-top: 10px;
	color: white;


}

.profImg {
	display: block;
	margin: 0px auto;
	max-width: 150px;
	max-height: 150px;
	border-radius: 50px;
}

.contact { 
	margin-top: 60px;
	

}

.contact p { 
	font-size: 12px; 
	color: #a8a8a8;

}

@media(max-width: 400px){

}