.big_class {
	background-color: #1b4162;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}
.pageContent {
	width: 85%;
	margin: 100px auto;
	padding-top: 20px;
	border-radius: 20px;
	background-color: #e6e6e6;;
	min-height: 300px;
}







