<div class="container">
	<h1>Upload a photo</h1>	
	<form ng-submit="uploadFile()">
	<label>
		<input id="file" type="file" ng-model="fileName">
	</label>
	



		
	<div class="imgInputs"> 
		<p><input placeholder="Image Title" type="text" ng-model="imgTitle"><p>
		<p><input placeholder="Image Category" type="text" ng-model="imgCategory"></p>	
		<p><input placeholder="Notes" type="text" ng-model="imgNotes"></p>	
		<button type="submit">Add file</button>
	</div>	

	<div>
		<img src="{{downloadURL}}">	
	</div>

		
	</form>



</div>	