<div class="big_class"></div>
<div class="navbarTop">
			<a href="#/"><img class="Slogo" src="http://i347.photobucket.com/albums/p448/robertcas257/Syndiyo/SyndiyoLogo_zps1brx1amm.png"/></a>			
			<div class="headerRight">
			<img class="lionLogo" src="{{userInfo.profPic}}" border="0" alt=" photo lionProfile_zpsrnqzrjmx.png"/>
			<div class = "headerText">
				<a href="#/" class="name">
				<h1>{{userInfo.firstName}} {{userInfo.lastName}}</h1>
			    </a>
				<a href="/#/login" class="signout" ng-click="authObj.$signOut();">Sign out</a>
			</div>
		</div>
</div>
<div class="pageContent">
<div class="ja">
	<h1>Upload a photo</h1>	
	<form ng-submit="uploadFile()">
	<label>
		<input id="file" type="file" ng-model="fileName">
	</label>	
	<div class="imgInputs"> 
		<p><input placeholder="Image Title" type="text" ng-model="imgTitle"><p>
		<p><input placeholder="Image Category" type="text" ng-model="imgCategory"></p>	
		<p><input placeholder="Notes" type="text" ng-model="imgNotes"></p>	
		<button type="submit">Add file</button>
	</div>	

	<div>
		<a href="#/records">View Your Files here!</a>	
	</div>

		
	</form>
</div>	
</div>