<div class="navbarTop">
			<a href="#/"><img class="Slogo" src="http://i347.photobucket.com/albums/p448/robertcas257/Syndiyo/SyndiyoLogo_zpsyudaapze.png" border="0" alt=" photo SyndiyoLogo_zpsyudaapze.png"/></a>			
			<div class="headerRight">
			<img class="lionLogo" src="http://i347.photobucket.com/albums/p448/robertcas257/lionProfile_zpsrnqzrjmx.png" border="0" alt=" photo lionProfile_zpsrnqzrjmx.png"/>
			<div class = "headerText">
				<h1>My profile</h1>
				<a href="/#/login" ng-click="authObj.$signOut();">Sign out</a>
			</div>
		</div>
</div>

<div>
	<img src="{{downloadURL}}">	
</div>

<div class="ja">
	<h1>Upload a photo</h1>	
	<form ng-submit="uploadFile()">
	<label>
		<input id="file" type="file" ng-model="fileName">
	</label>
	



		
	<div class="imgInputs"> 
		<p><input placeholder="Image Title" type="text" ng-model="imgTitle"><p>
		<p><input placeholder="Image Category" type="text" ng-model="imgCategory"></p>	
		<p><input placeholder="Notes" type="text" ng-model="imgNotes"></p>	
		<button type="submit">Add file</button>
	</div>	

	

		
	</form>


</div>	