<section class="container-fluid container1">
		<div class="row">
			<div class="col-md-6">
				<a href="#/"><img class="Slogo" src="http://i347.photobucket.com/albums/p448/robertcas257/Syndiyo/SyndiyoLogo_zpsyudaapze.png" border="0" alt=" photo SyndiyoLogo_zpsyudaapze.png"/></a>			
			</div>
			<div class="cold-md-6 headerRight">
				<a href="#/profile"><h1><img class="lionLogo" src="http://i347.photobucket.com/albums/p448/robertcas257/lionProfile_zpsrnqzrjmx.png" border="0" alt=" photo lionProfile_zpsrnqzrjmx.png"/> My profile</h1></a>
			</div>	
		</div>	
	</section>
	<section class="container-fluid container2">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 boxesCol">
				<div class="row">
					<div class="col-md-6 col1">
						<div class="sq1">
							<img src="http://i347.photobucket.com/albums/p448/robertcas257/fdd1c006-4ed5-4ac0-a427-f322c859897f_zpswvi0g6vz.png" border="0" alt=" photo fdd1c006-4ed5-4ac0-a427-f322c859897f_zpswvi0g6vz.png"/>
						</div>	
					</div>
					<div class="col-md-6 col1">
						<div class="sq1">
							<img src="http://i347.photobucket.com/albums/p448/robertcas257/9394bdac-ab3e-4557-8c9c-e5e59510a1c1_zpseloyje7h.png" border="0" alt=" photo 9394bdac-ab3e-4557-8c9c-e5e59510a1c1_zpseloyje7h.png"/>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="col-md-6 col2">
						<div class="sq2">
							<img src="http://i347.photobucket.com/albums/p448/robertcas257/c32d2e4f-38c1-4512-9746-90fd39946396_zpsbzoznrpb.png" border="0" alt=" photo c32d2e4f-38c1-4512-9746-90fd39946396_zpsbzoznrpb.png"/>
						</div>
					</div>	
					<div class="col-md-6 col2">
						<div class="sq2">
							<img src="http://i347.photobucket.com/albums/p448/robertcas257/d1316c4e-b058-476a-9828-5b829420761b_zpsysgqzza2.png" border="0" alt=" photo d1316c4e-b058-476a-9828-5b829420761b_zpsysgqzza2.png"/>
						</div>
					</div>
				</div>
			</div>	
		</div>	
	</section>