  <div class="background-img">
    <div class="main">

      <p><img src="http://i347.photobucket.com/albums/p448/robertcas257/Syndiyo/SyndiyoLogo_zps1brx1amm.png"></p>
      <p class="cr">Your Health in Your Hands</p>
      <p class="cr">Records - Research</p>

      <h2>Log in</h2>

      <div class="form">
        <form ng-submit="login()"> 

          <div class="email form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="email">
          </div>
          
          <div class="password form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="password">
          </div>
          
          <button class="btn btn-default login-btn">Submit</button>

          <p>Not signed up? Do it <a href="#/signUp">here!</a>
          </p>
          <p class="beta-tag"><strong>- PROTOTYPE -</strong><br/>Do not upload personal information</p>
          <p class="beta-tag"><strong>- BETA -</strong><br/>Coming soon</p>
          
        </form>
      </div>  
    </div>
</div>