  <div class="background-img">
    <div class="main">

      <p><img src="http://i347.photobucket.com/albums/p448/robertcas257/Syndiyo/SyndiyoLogo_zps1brx1amm.png"></p>
      <p class="cr">Connecting Records. Improving Lives.</p>

      <h2>Log in</h2>

      <form ng-submit="login()"> 

        <div class="email">
          <input placeholder="Email" ng-model="email">
        </div>
        
        <div class="password">
          <input type="password" placeholder="Password" ng-model="password">
        </div>
        
        <button>Submit</button>

        <p>Not signed up? Do it <a href="#/signUp">here!</a>
        </p>
        
      </form>
    </div>
</div>