<h2>Medical History</h2>
  <div>
    <label>Previous Medical Conditions:</label>
    <ol>
        <li ng-repeat="condition in prevConditions track by $index">
        {{condition.$value}}
        <button ng-click="prevConditions.$remove(condition)">Remove Condition</button>
        </li>
    </ol>
     <input ng-model="newCondition">
    <button ng-click="addCondition()">Add Condition</button>
  </div>
  <div>
    <label>Allergies:</label>
    <ol>
        <li ng-repeat="allergy in allergies track by $index">
        {{allergy.$value}}
        <button ng-click="allergies.$remove(allergy)">Remove Allergy</button>
        </li>
    </ol>
    <input ng-model="newAllergy">
    <button ng-click="addAllergy()">Add Allergy</button>
  </div>
  <div>
    <label>Current Medications:</label>
    <ol>
        <li ng-repeat="medication in medications track by $index">
        {{medication.$value}}
        <button ng-click="medications.$remove(medication)">Remove Medication</button>
        </li>
    </ol>
    <input ng-model="newMedication">
    <button ng-click="addMedication()">Add Medication</button>
  </div>
  <form ng-submit="updateInfo()">
  <div>
    <label>Height (feet, inches)</label>
    <input ng-model="heightFT"><input ng-model="heightInches">
  </div>
  <div>
    <label>Weight (lbs)</label>
    <input ng-model="weight">
  </div>
  <button type="submit">Update Info</button>
</form>