<div class="big_class"></div>
<div class="navbarTop">
			<a href="#/"><img class="Slogo" src="http://i347.photobucket.com/albums/p448/robertcas257/Syndiyo/SyndiyoLogo_zps1brx1amm.png"/></a>			
			<div class="headerRight">
			<img class="lionLogo" src="{{userInfo.profPic}}"/>
			<div class = "headerText">
				<a href="#/" class="name">
				<h1>{{userInfo.firstName}} {{userInfo.lastName}}</h1>
			    </a>
				<a href="/#/login" class="signout" ng-click="authObj.$signOut();">Sign out</a>
			</div>
		</div>
</div>
<div class = "recordsContent clearfix">
<h2 class="recordsHdr">My Records</h2>
<ul class = "recordsLst clearfix">
	<li ng-repeat="record in healthRecords track by $index" class="clearfix">
		<div class="recordImg">
			<img ng-click="showLarge = true" src="{{record.image}}"/>
		</div>
		<div class = "recordText">
			<p>Title: {{record.title}} | Category: {{record.category}} | Created: {{record.date}}</p>
			<p>Notes: {{record.notes}}</p>
		</div>
		<div class="fullImg" ng-show="showLarge" ng-click="showLarge = false">
			<img src="{{record.image}}"/>
		</div>
	</li>
</ul>
</div>