<div class="navbarTop">
			<a href="#/"><img class="Slogo" src="http://i347.photobucket.com/albums/p448/robertcas257/Syndiyo/SyndiyoLogo_zpsyudaapze.png" border="0" alt=" photo SyndiyoLogo_zpsyudaapze.png"/></a>			
			<div class="headerRight">
			<img class="lionLogo" src="{{userInfo.profPic}}" border="0" alt=" photo lionProfile_zpsrnqzrjmx.png"/>
			<div class = "headerText">
				<a href="#/" class="name">
				<h1>{{userInfo.firstName}} {{userInfo.lastName}}</h1>
			    </a>
				<a href="/#/login" class="signout" ng-click="authObj.$signOut();">Sign out</a>
			</div>
		</div>
</div>

<div class="request_Records">

	<div class="selectDoctor">
		<h2>Select a Doctor</h2>

		<!-- list of all doctors -->
		<div class="requestOldDoctor">
			<h4>Select one of your previously entered doctors</h4>
			<select ng-model="selectedDoctor" ng-options="d.name for d in doctors"></select>
			<button ng-click="sendMail()">Send an Email</button>
		</div>

		<div class="requestNewDoctor">
			<h4>Or enter a new doctor's email address</h4>
			<input ng-model="recipient">
			<button ng-click="sendMail2()">Send an Email</button>
		</div>
	</div>

</div>