 <div class="background-img">  
    <div class="signBox">
    <div class="inputs">
     <form ng-submit="signUp()">
      <div class="signLogo">
        <img src="http://i347.photobucket.com/albums/p448/robertcas257/Syndiyo/SyndiyoLogo_zps1brx1amm.png">
      </div> 
      <h1 class="cn">Create an account</h1>
        
          <p><input placeholder="First Name" class="form-control" ng-model="firstName"></p>
         <p><input placeholder="Last Name" class="form-control" ng-model="lastName"></p>
       
          <p><input placeholder="Email" type="email" class="form-control" id="exampleInputEmail1" ng-model="email"></p>
        
          <p><input placeholder="SSN#: Prototype lacks security - enter 0's" class="form-control" ng-model="SSN"></p>
       
          <p><input type="date" placeholder="Date of Birth (MM/DD/YYYY)" class="form-control" ng-model="DOB"></p>
       
          <p><input placeholder="Password" type="password" class="form-control" id="exampleInputPassword1" ng-model="password"></p>
       
          <p><input placeholder="Confirm Password" type="password" class="form-control" id="exampleInputPassword1" ng-model="password2"></p>
      <button type="submit" class="btn btn-default">Sign up</button>
    </form>
    </div>
  </div>
  </div>