 <div class="background-img">  
    <div class="signBox">
    <div class="inputs">
     <form ng-submit="signUp()">
      <div class="signLogo">
        <img src="http://i347.photobucket.com/albums/p448/robertcas257/Syndiyo/SyndiyoLogo_zps1brx1amm.png">
      </div> 
      <h1 class="cn">Create an account</h1>
      <div>
        <p><input placeholder="First Name" ng-model="firstName"></p>
       <p><input placeholder="Last Name" ng-model="lastName"></p>
      </div>
      <div>
        <p><input placeholder="Email" ng-model="email"></p>
      </div>
      <div>
        <p><input placeholder="SSN#" ng-model="SSN"></p>
      </div>
      <div>
        <p><input placeholder="Date of Birth (MM/DD/YYYY)" ng-model="DOB"></p>
      </div>
      <div>
        <p><input placeholder="Password" type="password" ng-model="password"></p>
      </div> 
      <div>
        <p><input placeholder="Confirm Password" type="password" ng-model="password2"></p>
      </div>
      <button type="submit">Sign up</button>
    </form>
    </div>
  </div>
  </div>